@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.articles {
  font-family: "Montserrat", sans-serif;
  padding: 100px;

  a {
    display: block;
    line-height: 40px;
    color: white;
    text-decoration: none;

    &:hover {
      color: #4386bf;
    }
  }
}

@media only screen and (max-width: 600px) {
  .articles {
    padding: 10px 10%;
    font-size: 0.8em;
  }
}
