.contact{
    background: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #282c34;
    ul{
        display: flex;
        justify-content: center;
        padding-right: 60px;
        margin-bottom: 10px;
        li{
            list-style: none;
            a{
                color: #4386bf;
                svg{
                    font-size: 1.5em;
                    margin-left: 20px;
                    &:hover{
                        color: #282c34;
                    }
                }
            }
        }
    }
    p{
        margin-top: 10px;
    }
}