.contact {
  width: 300px;
  li {
    list-style: none;
    background-color: #191765 !important;
    a {
      svg {
        font-size: 1.5em;
        color: #dfe1e6;

        &:hover {
          color: #9390ff;
        }
      }
    }
  }
}

p {
  margin-top: 10px;
}
