.contact {
  width: 300px;
  display: flex;

  li {
    list-style: none;
    background-color: #191765 !important;
    a {
      svg {
        font-size: 1.5em;
        color: #dfe1e6;

        &:hover {
          color: #9390ff;
        }
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .contact {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    li {
      width: 10% !important;
    }
  }
}
