.footer {
  background-color: #2b296d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #ccc;

  ul {
    display: flex;
    justify-content: center;
    padding-right: 60px;
    margin-bottom: 10px;

    li {
      list-style: none;
      background-color: #2b296d !important;

      a {
        svg {
          font-size: 1.5em;
          margin-left: 20px;

          &:hover {
            color: #9390ff;
          }
        }
      }
    }
  }

  p {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 830px) {
  .footer {
    ul {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      li {
        width: 10% !important;
      }
    }
  }
}
