@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
$cyan: lightcyan;
$blue: #4386bf;
$black:  #282c34;

.home{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: $cyan;
    h1{
        margin-top: 150px;
    }

    h1,h3, p{
        line-height: 40px;
        padding: 30px 20%;
    }
    ul{
        display: flex;
        margin-top: 0;
        padding: 0 20%;
        
        li{
            display: flex;
            background: lightgray;
            padding: 10px;
            margin-left: 5px;
            list-style: none;
            &:hover{
                background: $cyan;
            }
            a{
                color: $black;
                text-decoration: none;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 830px) {
    .home{
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin-bottom: 5px;
            }
        }
    }
}