@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
$cyan: #dfe1e6;
$blue: #4386bf;
$black: #282c34;

.home {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  h1 {
    color: #9390ff;
  }

  h1,
  h3,
  p {
    width: 500px;
    line-height: 40px;
  }

  p {
    padding-bottom: 60px;
    border-bottom: 1px solid lightgray;
  }

  ul {
    display: flex;
    margin-top: 0;
    padding: 0 20%;

    li {
      display: flex;
      background: lightgray;
      width: 120px;
      padding: 10px;
      margin-left: 5px;
      list-style: none;

      &:hover {
        background: $cyan;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  div {
    background: #edecff;
    width: 100px;
    height: 100px;
    filter: blur(40px);
  }
  div:nth-of-type(1) {
    position: absolute;
    left: 10%;
    top: 250px;
  }
  div:nth-of-type(2) {
    position: absolute;
    right: 10%;
    top: 450px;
  }
}

@media only screen and (max-width: 830px) {
  .home {
    ul {
      display: flex;
      flex-direction: column;

      li {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    ul {
      padding: 5px 5%;
    }

    h1 {
      font-size: 1.2em;
      margin-top: 80px;
      padding: 10px 5%;
    }

    h3,
    p {
      font-size: 1em;
      line-height: 30px;
      padding: 10px 5%;
    }
  }
}
