.portfolio {
  padding: 100px;
  padding-top: 0;
  line-height: 40px;
  h1 {
    font-size: 3rem;
    color: #9390ff;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    padding: 5%;
  }
}
