$black: #282c34;
$cyan: #dfe1e6;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.project {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  div:nth-of-type(1) {
    background-color: #2b296d;
    width: 53.5%;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  div:nth-of-type(2) {
    background-color: #2b296d;
    width: 30%;
    padding: 8%;
  }

  p,
  h3,
  h4 {
    line-height: 40px;
  }

  h4 {
    span {
      display: inline-block;
      border-right: 1px solid $cyan;
      color: $cyan;
      padding: 3px 10px;
      text-decoration: none;
    }

    span:nth-last-child(1) {
      border-right: none;
    }
  }

  a {
    color: $cyan;
    text-decoration: none;

    svg {
      font-size: 1.5em;
      margin: 20px;

      &:hover {
        color: #4386bf;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .project {
    div {
      width: 90% !important;
      font-size: 0.8em;
    }

    div:nth-of-type(1) {
      width: 106% !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .project {
    h3 {
      font-size: 1em;
      line-height: 30px;
      padding: 10px 5%;
    }
  }
}
